/* FLEX DECLARATIONS */

.pinkBorder {
    border: solid hotpink;
}

body {
    background-image: url("./Art/crystalBackground.png");
    /*
    height: 100%;
    */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

  .fitViewBody {
    margin: 0;
    width: 100vw;
    height: 100vh;
  }

  .fitViewDiv {
    width: 100%;
    height: 100%;
  }
  
  .wrapper {
      display: flex;
      flex-direction: column;
      min-height: 100vh;
    }
     
    .wrapper > * {
      padding: 20px;
    }
  
  .flex {
      display: flex;
  }
  
  .row {
      flex-direction: row;
  }
  
  .column {
      flex-direction: column;
  }
  
  .alignItemsCenter { /* this aligns along the cross axis */
      align-items: center;
  }
  
  .justifyContentCenter { /* this positions along the main axis */
      justify-content: center;
  }

  .justifyContentEnd {
    justify-content: baseline;
  }
  
  .alignSpaceEvenly {
      align-content: space-evently;
  }
  
  .justifySpaceEvenly {
      justify-content: space-evenly;
  }
  
  #myGrid {
      border: solid hotpink 20px;
      border-radius: 10px;
  
  }
  
  .square {
      height: 3px;
      width: 3px;
      transition: all .1s ease-in-out;
  }
  
  .square:hover {
      size: 200%;
      transform: scale(3);
      border: solid purple .5;
  }
  
  .changeColor:hover {
      background-color: hotpink;
  }
  
  .changeColor {
      background-color:   #787878;
  }
  
  .spine {
      height: 10px;
      width: 10px;
  }
  
  #pageContainer {
      background-color: aliceblue;
      padding: 20px;
      border-radius: 10px;;
  }
  
  .lobster {
      font-family: lobster;
  }
  
  .buffer {
      padding: 50px;
      margin: auto;
      padding-bottom: 50px;
  }
  
  .flex1 {
      flex: 1;
    }
  
  .pinkBorder {
      border: solid hotpink;
  }
  
  .dot {
      background-color: red;
      width: 1rem;
      height: 1rem;
      border-radius: 50%;
      position: absolute;
      transform: translate(-50%, -50%);
  }
  
  .changeToRed {
      background-color: red;
      border: solid yellow;
  }
  
  .colorButton {
      border: solid black;
      font-family: lobster;
      font-size: 75%;
      border-radius: 10px;
      margin: 5px;
  }
  
  .padded {
      padding: 20px;
  }

  .paddedMajor {
    padding-left: 5%;
    padding-right: 5%;
  }
  
  /*
  #buttonContainer {
      background-color: aliceblue;
  }
  */
  
  .main {
      flex-grow: 1;
  }
  
  
  /* CSS */
  .button-74 {
    background-color: #39CCCC/* #fbeee0*/;
    border: 2px solid #422800;
    border-radius: 30px;
    box-shadow: #422800 4px 4px 0 0;
    color: #422800;
    cursor: pointer;
    display: inline-block;
    font-weight: 600;
    font-size: 18px;
    padding: 0 18px;
    line-height: 50px;
    text-align: center;
    text-decoration: none;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
  }
  
  .button-74:hover {
    background-color: #F012BE/*#fff*/;
  }
  
  .button-74:active {
    box-shadow: #422800 2px 2px 0 0;
    transform: translate(2px, 2px);
  }
  
  @media (min-width: 768px) {
    .button-74 {
      min-width: 120px;
      padding: 0 25px;
    }
  }
  
  /* CSS */
  .button-74-secondary {
      background-color: #FF851B/* #fbeee0*/;
      border: 2px solid #422800;
      border-radius: 30px;
      box-shadow: #422800 4px 4px 0 0;
      color: #422800;
      cursor: pointer;
      display: inline-block;
      font-weight: 600;
      font-size: 18px;
      padding: 0 18px;
      line-height: 50px;
      text-align: center;
      text-decoration: none;
      user-select: none;
      -webkit-user-select: none;
      touch-action: manipulation;
    }
    
    .button-74-secondary:hover {
      background-color: #FFDC00/*#fff*/;
    }
    
    .button-74-secondary:active {
      box-shadow: #422800 2px 2px 0 0;
      transform: translate(2px, 2px);
    }
    
    @media (min-width: 768px) {
      .button-74-secondary {
        min-width: 120px;
        padding: 0 25px;
      }
    }

    .width-75 {
        min-height: 30px;
    }

    .center {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 200px;
    }
 
    #screenAndButtons {
        padding-right: 2vw;
        padding-left: 2vw;
        align-items:center;
        height: 95%;
    }

    #screenContainer {
        /*background: url("./Art/gemmyBG.svg") no-repeat center;*/
        background-size: 100% 100%;
        width: 80%;
        min-width: 70%;
        height: 9vh;
        /*
        padding-top: 5%;
        padding-bottom: 5%;
        padding-right: 10%;
        padding-left: 10%;
        */
    }
  
    #screen {
      background-color: black;
      width: 80%;
      height: 50%;
      border-radius: 15px;
      border: solid skyblue 5px;
    }

    #screenDisplay {
        color: white;
        font-family: 'Scientific Calculator LCD', sans-serif;      
    }

    /*The entire button section*/
    #buttonGrid {
        display: flex column;
        justify-content:center;
        width: 80%;
        min-width: 70%;
        height: 70vh;
        margin-top: 2vh;
    }

    /*Each row of buttons*/
    #buttonDiv {
        display: flex;
        justify-content: space-between;
        align-items: center;
        align-self:flex-end;
        /*
        height: 8vh;
        margin: 4vh;
        */
        margin: 1%;
        height: 18%;
    }

    #title {
        /*
      font-size: 90px;
      color: silver;
      text-shadow: 4px 3px 0px #fff, 9px 8px 0px rgba(0,0,0,0.15);
      */
      font-size: 35px;
      background: -webkit-linear-gradient(blue, skyblue);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
  
    }


    .end {
        justify-content: flex-end;
    }

    .gemButton {
        max-width: 70px;;
    }

    .gemButtonClass {
        /*background: url("./Art/1x/GemsAsset 2.png") no-repeat center; */
        background-size: contain;
        border: none;
        width: 100%;
        height: 100%;
        /*font-size: 200%;*/
        position: relative; 
        transition: all .2s ease-in-out;  
    }

    .gemButtonClass:hover {
        transform: scale(1.2);
    }

    .gemButtonClass:hover .hoverFadeIn {
        opacity: 1;
    }

    .gemButton {
        width: 100%;
        height: 100%;
        display: block;
        position: absolute;
        margin: 0;
        top: 50%;
        left: 50%;
        margin-right: -50%;
        transform: translate(-50%, -50%);
        font-family: lobster;    
    }

.hoverFadeIn {
    opacity: 0;
    transition: opacity .1s;
}


/*
    .gemButtonFade:hover {
        opacity: 1;
        
    }
*/
    .gemButtonText {
        height: 40px;
        width: 40px;


        display: block;
        margin: auto;
        
        top: 50%;
        left: 57%;
        margin-right: -50%;
        transform: translate(-50%, -50%);
        font-family: lobster;
        font-size: 150%;
        position: absolute;
        z-index: 3;
    }


.floating { 
    animation-name: floating;
    animation-duration: 4s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
}
 
@keyframes floating {
    0% { transform: translate(0,  0px); }
    50%  { transform: translate(0, 4px); }
    100%   { transform: translate(0, -0px); }   
}